<app-page [pageTitle]="typeName + ' Formulas'">
  <div page-body>
    <mat-nav-list>
      <a mat-list-item
         *ngFor="let formula of formulas$ | async"
         routerLink="/formula/edit"
         [queryParams]="{ name: formula.name }">
        <p matLine>
          {{formula.name}}
        </p>
        <div matLine
             style="font-size: 80%; opacity: .8">kcal/ml: {{formula.kcal | number: '1.1-2'}}, carbs: {{formula.carbs | number: '1.1-2'}}, protein: {{formula.protein
          | number: '1.1-2'}}, lipids: {{formula.lipids | number: '1.1-2'}}, free water: {{formula.freeWater | number: '1.1-2'}}
        </div>
        <mat-divider></mat-divider>
      </a>
    </mat-nav-list>
  </div>
</app-page>