<app-page pageTitle="BMI" class="bmi-page">
  <div page-body [formGroup]="form">
    <div class="bmi mat-display-4">
      {{bmi}}
    </div>
    <div class="fields" fxLayout="column" fxLayoutAlign="center stretch">
      <form>

        <app-number-field [form]="form" field="height" placeholder="Height" units="Cm">
        </app-number-field>
        <app-number-field [form]="form" field="weight" placeholder="Weight" units="Kg">
        </app-number-field>
      </form>
    </div>
  </div>
  <div page-actions fxLayout="row" fxLayoutAlign="center stretch">
    <button mat-raised-button fxFlex="50" fxFlex.lt-sm="100" color="primary" (click)="calc()">
      Calculate
    </button>
  </div>
</app-page>
