.bmi-page input[type=number] {
  text-align: right;
}

.bmi-page .bmi {
    text-align: center;
    background-color: #033665;
    color: #f0f0f0;
    border-radius: 0;
    padding: 25px;
}

.bmi-page .fields {
    padding: 10px;
}

