<app-page pageTitle="NutriLab">
  <mat-nav-list>
    <h3 mat-subheader class="accent-color">Nutritional Diagnosis</h3>
    <a mat-list-item routerLink="/bmi">
      BMI
    </a>
    <a mat-list-item routerLink="/anthropometrics">
      Anthropometrics
    </a>
    <a mat-list-item routerLink="/nrs">
      NRS2002
    </a>
    <h3 mat-subheader class="accent-color">Nutritional Needs Calculation</h3>
    <a mat-list-item routerLink="/energy-equations">
      Energy Equations
    </a>
    
    <h3 mat-subheader class="accent-color">Enteral and Parenteral Nutrition</h3>
    <a mat-list-item routerLink="/ep-nutrition-summary">
      Nutrition Summary
    </a>
    <a mat-list-item routerLink="/formulas/enteral"> 
      Enteral Formulas
    </a>
    <a mat-list-item routerLink="/formulas/parenteral">
      Parenteral Formulas
    </a>
  </mat-nav-list>
</app-page>
